# Compiled Object files
*.lo
*.o
*.obj
.DS_Store

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
usb_peep

#CLion project files
.idea

#debug tmp files
cscope.*
tags
*.vim
.viminfo
temp
*.log
